# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editors / IDEs
.vscode/
.idea/
*.sublime-*
.vs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/

*.local*
.env

logs/
plugin/
config/
data/

# spark
spark-warehouse/
metastore-db/
derby.log
*.crc